{% extends "partials/base.html" %}
{% load socialaccount %}
{% load static %}
{% block content %}


{% load static %}

{% block sidebar  %}
        {% endblock  %}
<div class="sub_categories">
    <h5 class="mobile_title">
        All categories
        <span class="sidebarclose" id="catclose">
            <i class="las la-times"></i>
        </span>
    </h5>

    <a href="#" class="singlecats">
        <span class="img_wrp">
            <i class="las la-shoe-prints"></i>
        </span>
        <span class="txt">Shoes</span>
    </a>

    <div class="singlecats withsub">
        <span class="img_wrp">
            <i class="las la-male"></i>
        </span>
        <span class="txt">Men</span>
        <span class="wsicon"><i class="las la-angle-right"></i></span>
        <div class="mega_menu">
            <div class="single_mega_menu">
                <div class="mega_menu_wrap">
                    <h4>Hot sale</h4>
                    <div class="mega_categories">
                        <a href="#">Hoodies $ Sweatshirts</a>
                        <a href="#">T-Shirt</a>
                        <a href="#">Men’s Sets</a>
                        <a href="#">Jacket</a>
                        <a href="#">Shoes</a>
                    </div>
                </div>
                <div class="mega_menu_wrap">
                    <h4>Bottoms</h4>
                    <div class="mega_categories">
                        <a href="#">Casual Pants</a>
                        <a href="#">Men’s Sleep & Lounge</a>
                        <a href="#">Jeans</a>
                        <a href="#">Shorts</a>
                        <a href="#">Towel</a>
                    </div>
                </div>
            </div>

            <div class="single_mega_menu">
                <div class="mega_menu_wrap">
                    <h4>Outerwear $ Jackets</h4>
                    <div class="mega_categories">
                        <a href="#">Jacket</a>
                        <a href="#">Sweaters</a>
                        <a href="#">Casual Faux Leather</a>
                        <a href="#">Parks</a>
                        <a href="#">Jeans</a>
                    </div>
                </div>
                <div class="mega_menu_wrap">
                    <h4>Underwear & Loun</h4>
                    <div class="mega_categories">
                        <a href="#">Boxes</a>
                        <a href="#">Berifs</a>
                        <a href="#">Long Johns</a>
                        <a href="#">Men’s Sleep & Lounge</a>
                        <a href="#">Parks</a>
                    </div>
                </div>
            </div>

            <div class="single_mega_menu">
                <div class="mega_menu_wrap">
                    <h4>Accessories</h4>
                    <div class="mega_categories">
                        <a href="#">Scarves</a>
                        <a href="#">Skullies & Beanies</a>
                        <a href="#">Casual Faux Leather</a>
                        <a href="#">Prescription Glasses</a>
                        <a href="#">Belt</a>
                    </div>
                </div>
                <div class="mega_menu_wrap">
                    <h4>Novelty & Special</h4>
                    <div class="mega_categories">
                        <a href="#">Cosplay Costumes</a>
                        <a href="#">Stage & Dance Wear</a>
                        <a href="#">Exotic Apparel</a>
                        <a href="#">Scarves</a>
                        <a href="#">Men’s Sets</a>
                    </div>
                </div>
            </div>
            <div class="single_mega_menu brnd">
                <div class="mega_brands">
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-1.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-2.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-3.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-4.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-5.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-6.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-7.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-8.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-9.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-10.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-11.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-12.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-13.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-14.png" %}" alt="brand" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="singlecats">
        <span class="img_wrp">
            <i class="las la-female"></i>
        </span>
        <span class="txt">Women</span>
    </a>
    <a href="#" class="singlecats">
        <span class="img_wrp">
            <i class="las la-plug"></i>
        </span>
        <span class="txt">Electronisc</span>
    </a>
    <a href="#" class="singlecats">
        <span class="img_wrp">
            <i class="las la-headphones"></i>
        </span>
        <span class="txt">Headphones</span>
    </a>
    <a href="#" class="singlecats">
        <span class="img_wrp">
            <i class="icon-watch"></i>
        </span>
        <span class="txt">Watches</span>
    </a>
    <div class="singlecats withsub">
        <span class="img_wrp">
            <i class="las la-desktop"></i>
        </span>
        <span class="txt">Computer</span>
        <span class="wsicon"><i class="las la-angle-right"></i></span>
        <div class="mega_menu">
            <div class="single_mega_menu">
                <div class="mega_menu_wrap">
                    <h4>Macbook</h4>
                    <div class="mega_categories">
                        <a href="#">Mackbook m1</a>
                        <a href="#">Mackbook pro</a>
                        <a href="#">Mackbook air</a>
                        <a href="#">Mackbook 2015</a>
                        <a href="#">Mackbook 2020</a>
                    </div>
                </div>
                <div class="mega_menu_wrap">
                    <h4>Laptop</h4>
                    <div class="mega_categories">
                        <a href="#">Razer</a>
                        <a href="#">Hp Laptop</a>
                        <a href="#">Dell Notebook</a>
                        <a href="#">Asus</a>
                        <a href="#">Lenovo</a>
                    </div>
                </div>
            </div>

            <div class="single_mega_menu">
                <div class="mega_menu_wrap">
                    <h4>Dasktop</h4>
                    <div class="mega_categories">
                        <a href="#">Brand Dasktop</a>
                        <a href="#">All in one pc</a>
                        <a href="#">Mini PC</a>
                        <a href="#">Customize PC</a>
                        <a href="#">Dasktop Accessories</a>
                    </div>
                </div>
                <div class="mega_menu_wrap">
                    <h4>Monitor</h4>
                    <div class="mega_categories">
                        <a href="#">Samsung</a>
                        <a href="#">Philips</a>
                        <a href="#">LG</a>
                        <a href="#">HP</a>
                        <a href="#">Xiaomi</a>
                    </div>
                </div>
            </div>

            <div class="single_mega_menu">
                <div class="mega_menu_wrap">
                    <h4>Accessories</h4>
                    <div class="mega_categories">
                        <a href="#">Dasktop Ram</a>
                        <a href="#">Motherboard</a>
                        <a href="#">SSD Card</a>
                        <a href="#">Hard disk</a>
                        <a href="#">Processor</a>
                    </div>
                </div>
                <div class="mega_menu_wrap">
                    <h4>Gaming</h4>
                    <div class="mega_categories">
                        <a href="#">Gaming console</a>
                        <a href="#">Gaming Chair</a>
                        <a href="#">Gaming Desk</a>
                        <a href="#">Gaming Controller</a>
                        <a href="#">Keyboard</a>
                    </div>
                </div>
            </div>
            <div class="single_mega_menu brnd">
                <div class="mega_brands">
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-1.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-2.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-3.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-4.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-5.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-6.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-7.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-8.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-9.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-10.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-11.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-12.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-13.png" %}" alt="brand" />
                    </a>
                    <a href="#" class="mega_brnd_img">
                        <img loading="lazy" src="{% static "web/images/brand-14.png" %}" alt="brand" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="singlecats">
        <span class="img_wrp">
            <i class="las la-mobile"></i>
        </span>
        <span class="txt">Mobile</span>
    </a>
</div>
</div>

		<!-- breadcrumbs -->
		<div class="container">
			<div class="breadcrumbs">
				<a href="#"><i class="las la-home"></i></a>
				<a href="#" class="active">Login</a>
			</div>
		</div>

		<!--Login wrap-->
		<form method = "POST" action="">
			{% csrf_token %}
		<div class="register_wrap section_padding_b">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-5 col-lg-7 col-md-9">
						<div class="register_form padding_default shadow_sm">
							<h4 class="title_2">Login</h4>
							<p class="mb-4 text_md">Login if you a a returing customer</p>
							<form action="#">
								<div class="row">
									<div class="col-12">
										<div class="single_billing_inp">
											<label>Username <span>*</span></label>
											<input name="email" type="text" placeholder="Username" />
										</div>
									</div>
									<div class="col-12">
										<div class="single_billing_inp">
											<label>Password <span>*</span></label>
											<input name="password" type="password" placeholder="type password" />
										</div>
									</div>
									<div class="col-12 mt-2 d-flex justify-content-between align-items-center">
										<div class="custom_check check_2 d-flex align-items-center">
											<input  type="checkbox" class="check_inp" hidden id="save-default" />
											<label for="save-default">Remember Me</label>
										</div>

										<a href="forgot-password.html" class="text-color">Forgot Password?</a>
									</div>
									<div class="col-12 mt-3">
										<button type="submit" class="default_btn xs_btn rounded px-4 d-block w-100">Login</button>
									</div>
								</div>
							</form>

							<div class="dif_regway my-3">
								<span class="txt">Or login in with</span>
							</div>

							<div class="d-flex">
								{% comment %} <button class="default_btn xs_btn rounded px-4 d-block w-50 text-capitalize bg-facebook"><i class="fab fa-facebook-f me-2"></i> GitHub</button> {% endcomment %}
								<button style="background-color: rgb(252, 252, 252);" class="default_btn xs_btn rounded px-4 d-block w-50 ms-3 text-capitalize bg-google"><i class="fab fa-google me-2"></i> <a href="{% provider_login_url 'google' %}"> Google</button></a>
							</div>

							<p class="text-center mt-3 mb-0">Don't have an account.? <a href="{% url "register" %}" class="text-color">Register Now</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

		{% endblock  %}